.terraform/
.terraform.lock.hcl
terraform.tfstate
terraform.tfstate.backup
crash.log
crash.*.log
.history
*.tfvars
*.auto.tfvars
.terraform/xray-credentials.json
.terraform/xray-client.txt
.terraform/xray-client.json
generated/
*.png
